:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

body{
    background:#f8e8a6;
}

body{
    margin-top: 100px;
}

h1,
h2,
h3
{
    margin:0;
}

h1{
    font-size:80px;
}

h2{
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
  }

p{
    font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }

  .navigation-links a {
    margin: 20px;
    border-radius: 30px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .primary-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }


footer{
    text-align: center;
}

footer a{
    margin:0 10px;
    color: green;
}

.croissant-photo{
max-width: 100%;
border-radius: 10px;
display: block;
margin:30px auto;
}

.project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }